.header {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1158px;
    transition: 0.2s ease-in-out;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
  }
  .nav__item {
    border-right: 1px solid #eceef4;
    font-size: 13px;
    font-family: "OpenSans-Bold", serif;
    padding: 37px 26px;
    color: #6d6e71;
    display: flex;
    transition: 0.3s ease-in;
    background-position: bottom;
    background-size: 0px;
    background-repeat: no-repeat;
    overflow: hidden;
  
    &:hover {
      color: #1faae2;
      cursor: pointer;
      background-position: bottom;
      transition: 0.3s ease-out;
      background-repeat: no-repeat;
      background-size: 35px;
      
  
      // box-shadow: 3px 3px 10px rgb(214, 214, 214);
    }
  }
  
  .active {
    color: #1faae2;
    cursor: pointer;
    background-position: bottom;
    transition: 0.3s ease-out;
    background-repeat: no-repeat;
    background-size: 35px;
    background-image: url(../../assets/imgs/icons/active.png);
  }
  
  .header__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
  }
  .search__image {
    margin-right: 15px;
  }
  .search__text {
    input {
      font-size: 15px;
      width: 170px;
      text-overflow: ellipsis;
    }
  }