.map {
    background-image: url(../../assets/imgs/footer/marker.png);
    background-position-x: 60%;
    width: 100%;
    margin-top: 102px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 70px;
  }
  
  .map-img {
    display: none;
  }
  
  
  