.picture {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }
  .picture__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    text-shadow: 1.5px 0.9px 5px rgba(1, 1, 1, 0.45);
    margin-left: 200px;
  }

  .picture__title {
    font-size: 58.5px;
    font-family: "OpenSans-Bold", serif;
    color: white;
    z-index: 1;
    margin-bottom: -45px;
    margin-top: 140px;
  }
}

.picture__subtitle {
  font-family: "OpenSans-Light", serif;
  font-size: 44.5px;
  color: white;
  padding-left: 7px;

  &::before {
    content: "&";
    color: #bbedff;
    font-size: 91px;
    font-family: "OpenSans-Bold", serif;
  }
}

.picture__slider {
  margin-top: 150px;
  z-index: 2;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}

.slider__item {
  max-width: 322px;
  display: flex;
  img {
    width: 100%;
    max-width: 322px;
  }
}

.slider__button {
  width: 111px;
  background-color: #f4f4f4;

  align-items: center;
  justify-content: center;
  display: flex;
  img {
    max-width: 23px;
  }
}
